# -------------------------------
# Python cache files
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Virtual environments
# -------------------------------
venv/
env/
.venv/

# -------------------------------
# VS Code settings
# -------------------------------
.vscode/

# -------------------------------
# Operating system files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Log files
# -------------------------------
*.log

# -------------------------------
# Temporary files
# -------------------------------
*.tmp
*.temp
